* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.main {
  padding: 20px;
}

.board {
  display: inline-block;
}

.row {
  display: flex;
}

.intersection {
  position: relative;

  width: 40px;
  height: 40px;

  &:before {
    position: absolute;
    width: 18px;
    height: 40px;
    border-right: 2px solid black;
    top: 0;
    left: 0;
    content: '';

    .row:first-child & {
      top: 18px;
      height: 22px;
    }

    .row:last-child & {
      height: 20px;
    }
  }

  &:after {
    position: absolute;
    width: 40px;
    height: 18px;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    content: '';
  }

  &:first-child:after {
    width: 20px;
    left: 20px;
  }

  &:last-child:after {
    width: 20px;
  }
}

.piece {
  position: absolute;
  z-index: 1;

  display: block;
  width: 30px;
  height: 30px;

  margin-top: 4px;
  margin-left: 4px;

  border-radius: 100%;
  border: 1px solid black;

  &.empty {
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &.white {
    background: white;
  }

  &.black {
    background: black;
  }
}
